# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/

# Node
node_modules/
FE/node_modules/

# IDE / OS
.idea/
.vscode/
.DS_Store
Thumbs.db

# Environment Variables
.env
.env.local

# Vercel
.vercel
